@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.Hero {
  align-items: center;
  font-family: "Indie Flower", cursive;
}

@media (min-width: 500px) {
  .Hero {
    display: flex;
    flex-direction: row;
  }

  .Hero_title {
    flex-direction: column;
    margin-left: 10%;
  }

  img {
    text-align: right;
    width: 30%;
    margin-left: 13%;
  }
}
